@import '~src/variables.scss';


.carrinho-qtd{
  padding:5px;
  position:absolute;
  top: 11px;
  right: 10px;
  border-radius: 5px;
  color:black;
  background:white;
  width:30px;
  height: 32px;
}
