/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import './variables.scss';

body, html{
  height: 100%;
  background: #ffffff;
  font-family: 'Ubuntu', sans-serif;

  p{
    color:white;
    text-align: center;
  }
}
body::selection{
  background: #D54535;
}
.splashscreen{
  background: $red;
  height:100%;
  width:100%;
}
.clear{
  clear:both;
}

.main{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.content{
  &__card{
    width: 100%;
    min-height: 80px;
    border-bottom: $light-gray 1px solid;
    display: flex;
    padding:5px;
    box-sizing: border-box;
  }
}
